{
  "openapi": "3.1.0",
  "info": {
    "title": "Pod Engine API",
    "version": "1.0.0",
    "description": "Pod Engine podcast intelligence API. Search 4M+ podcasts, retrieve metadata, transcripts, charts, and more. See https://www.podengine.ai/api-docs for the full interactive documentation."
  },
  "servers": [
    {
      "url": "https://api.podengine.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pod Engine API key. Get one at https://www.podengine.ai/get-started."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "agent"
    },
    {
      "name": "alerts"
    },
    {
      "name": "autocomplete"
    },
    {
      "name": "charts"
    },
    {
      "name": "episodes"
    },
    {
      "name": "guest-profiles"
    },
    {
      "name": "podcasts"
    },
    {
      "name": "polling"
    },
    {
      "name": "projects"
    },
    {
      "name": "search"
    },
    {
      "name": "stats"
    },
    {
      "name": "teams"
    },
    {
      "name": "transcriptions"
    },
    {
      "name": "usage"
    }
  ],
  "paths": {
    "/api/v1/agent/project/relevancy": {
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Project Podcast Relevancy",
        "description": "Analyze the relevancy of a podcast to a project using AI",
        "operationId": "askAgentProjectPodcastRelevancy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "podcastId": {
                    "type": "string"
                  },
                  "searchOptions": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "cursor": {
                            "description": "Pagination cursor for fetching the next page of results. This cursor is stateless and does not expire. However, because it uses search_after pagination, results may be inconsistent if the underlying data changes between requests (e.g., you may see duplicate or missing results if documents are added/removed).",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "pageSize": {
                            "description": "Number of results to return per page",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                          },
                          "project": {
                            "description": "Details about any Project this search is associated with. If included will filter out podcasts related to the project.",
                            "type": "object",
                            "properties": {
                              "projectId": {
                                "type": "string",
                                "description": "The Pod Engine Project ID"
                              },
                              "excludeIgnoredPodcasts": {
                                "description": "If true, will not include any podcasts marked as ignored on this project in the results.",
                                "type": "boolean"
                              },
                              "excludePodcastsOnList": {
                                "description": "If true, will not include any podcasts on the project list in the results.",
                                "type": "boolean"
                              },
                              "includePodcastRelevancy": {
                                "description": "If the podcast relevancy should be included with the search results. Note that including this will limit your search results to 20 total and also slow down the search results response",
                                "type": "boolean"
                              },
                              "excludeRelvancyValues": {
                                "description": "If provided, will exclude podcasts with these relevancy values. Valid values are 1-5. Note this is a server side filter and will only work if includePodcastRelevancy is set.",
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "minimum": 1,
                                  "maximum": 5
                                }
                              },
                              "forceRecalculateRelevancy": {
                                "description": "If true, will force a recalculation of the podcast relevancy values for this search. Note this will slow down the search results response and should only be used if you believe the relevancy values are out of date.",
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "projectId"
                            ],
                            "additionalProperties": false
                          },
                          "projectId": {
                            "description": "[DEPRECATED] Project ID to associate the search with",
                            "type": "string"
                          },
                          "searchTerms": {
                            "description": "Terms to search for in podcast title and description",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "searchTerm": {
                                  "type": "string",
                                  "minLength": 2
                                },
                                "searchType": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "embeddings"
                                  ]
                                },
                                "searchTargets": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "podcast-title",
                                      "podcast-description"
                                    ]
                                  }
                                },
                                "searchTermOptions": {
                                  "default": {
                                    "matchMode": "optional",
                                    "phraseMatch": false,
                                    "fuzzy": false
                                  },
                                  "type": "object",
                                  "properties": {
                                    "matchMode": {
                                      "default": "optional",
                                      "type": "string",
                                      "enum": [
                                        "must",
                                        "not",
                                        "optional"
                                      ]
                                    },
                                    "phraseMatch": {
                                      "description": "Whether to match the search term as a phrase",
                                      "type": "boolean"
                                    },
                                    "slop": {
                                      "description": "How many words apart tokens can appear in a document to be considered a match",
                                      "type": "number"
                                    },
                                    "fuzzy": {
                                      "description": "Whether to use fuzzy matching",
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "matchMode"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "required": [
                                "searchTerm",
                                "searchType",
                                "searchTargets",
                                "searchTermOptions"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "excludeItunesGenres": {
                            "description": "iTunes genres to exclude from results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excludePodcastIds": {
                            "description": "Specific podcast IDs to exclude from results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excludeEpisodeIds": {
                            "description": "Specific episode IDs to exclude from results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "explicit": {
                            "description": "Filter by explicit content rating",
                            "type": "string",
                            "enum": [
                              "clean",
                              "explicit"
                            ]
                          },
                          "foundedSince": {
                            "description": "Filter podcasts founded after this date"
                          },
                          "hasPrimaryContact": {
                            "description": "Filter podcasts that have primary contact information",
                            "type": "boolean"
                          },
                          "hasSocials": {
                            "description": "Filter podcasts with specific social media presence from beehiiv, behance, bluesky, discord, facebook, github, instagram, linkedin, linktree, mastodon, medium, patreon, pinterest, reddit, snapchat, soundcloud, substack, threads, tiktok, tumblr, twitch, twitter, vimeo, whatsapp, youtube",
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "beehiiv",
                                "behance",
                                "bluesky",
                                "discord",
                                "facebook",
                                "github",
                                "instagram",
                                "linkedin",
                                "linktree",
                                "mastodon",
                                "medium",
                                "patreon",
                                "pinterest",
                                "reddit",
                                "snapchat",
                                "soundcloud",
                                "substack",
                                "threads",
                                "tiktok",
                                "tumblr",
                                "twitch",
                                "twitter",
                                "vimeo",
                                "whatsapp",
                                "youtube"
                              ]
                            }
                          },
                          "includeItunesGenres": {
                            "description": "iTunes genres to include in results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "includePodcastIds": {
                            "description": "Specific podcast IDs to include in results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "languages": {
                            "description": "Filter podcasts by language",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "lastEpisodeDateSince": {
                            "description": "Filter podcasts with episodes published after this date"
                          },
                          "maxTotalEpisodes": {
                            "description": "Maximum number of total episodes",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minCastboxPlays": {
                            "description": "Minimum number of Castbox plays",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minCastboxSubscribers": {
                            "description": "Minimum number of Castbox subscribers",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minItunesRating": {
                            "description": "Minimum iTunes rating score",
                            "type": "number",
                            "minimum": 0,
                            "maximum": 5
                          },
                          "minItunesRatingCount": {
                            "description": "Minimum number of iTunes ratings",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minSpotifyRating": {
                            "description": "Minimum Spotify rating score",
                            "type": "number",
                            "minimum": 0,
                            "maximum": 5
                          },
                          "minSpotifyRatingCount": {
                            "description": "Minimum number of Spotify ratings",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minTotalEpisodes": {
                            "description": "Minimum number of total episodes",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "podcastCountries": {
                            "description": "Filter podcasts by country of origin using ISO 3166-1 alpha-2 codes, for example us",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "podcastHasGuests": {
                            "description": "Filter podcasts that feature guests",
                            "type": "boolean"
                          },
                          "podcastAuthorityScore": {
                            "description": "Filter podcasts by their Authority Score",
                            "type": "object",
                            "properties": {
                              "authorityScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "qualityScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "engagementScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "socialScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "youtubeScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "sortOrder": {
                            "description": "Specify how results should be sorted",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field": {
                                  "type": "string",
                                  "enum": [
                                    "relevance",
                                    "recentActivity",
                                    "title",
                                    "appleReviews",
                                    "spotifyReviews"
                                  ]
                                },
                                "direction": {
                                  "type": "string",
                                  "enum": [
                                    "asc",
                                    "desc"
                                  ]
                                },
                                "nullOrder": {
                                  "type": "string",
                                  "enum": [
                                    "first",
                                    "last"
                                  ]
                                }
                              },
                              "required": [
                                "field"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "cursor": {
                            "description": "Pagination cursor for fetching the next page of results. This cursor is stateless and does not expire. However, because it uses search_after pagination, results may be inconsistent if the underlying data changes between requests (e.g., you may see duplicate or missing results if documents are added/removed).",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "pageSize": {
                            "description": "Number of results to return per page",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                          },
                          "project": {
                            "description": "Details about any Project this search is associated with. If included will filter out podcasts related to the project.",
                            "type": "object",
                            "properties": {
                              "projectId": {
                                "type": "string",
                                "description": "The Pod Engine Project ID"
                              },
                              "excludeIgnoredPodcasts": {
                                "description": "If true, will not include any podcasts marked as ignored on this project in the results.",
                                "type": "boolean"
                              },
                              "excludePodcastsOnList": {
                                "description": "If true, will not include any podcasts on the project list in the results.",
                                "type": "boolean"
                              },
                              "includePodcastRelevancy": {
                                "description": "If the podcast relevancy should be included with the search results. Note that including this will limit your search results to 20 total and also slow down the search results response",
                                "type": "boolean"
                              },
                              "excludeRelvancyValues": {
                                "description": "If provided, will exclude podcasts with these relevancy values. Valid values are 1-5. Note this is a server side filter and will only work if includePodcastRelevancy is set.",
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "minimum": 1,
                                  "maximum": 5
                                }
                              },
                              "forceRecalculateRelevancy": {
                                "description": "If true, will force a recalculation of the podcast relevancy values for this search. Note this will slow down the search results response and should only be used if you believe the relevancy values are out of date.",
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "projectId"
                            ],
                            "additionalProperties": false
                          },
                          "projectId": {
                            "description": "[DEPRECATED] Project ID to associate the search with",
                            "type": "string"
                          },
                          "searchTerms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "searchTerm": {
                                  "type": "string",
                                  "minLength": 2
                                },
                                "searchType": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "embeddings"
                                  ]
                                },
                                "searchTargets": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "podcast-title",
                                      "podcast-description",
                                      "episode-title",
                                      "episode-description",
                                      "transcript"
                                    ]
                                  }
                                },
                                "searchTermOptions": {
                                  "default": {
                                    "matchMode": "optional",
                                    "phraseMatch": false,
                                    "fuzzy": false
                                  },
                                  "type": "object",
                                  "properties": {
                                    "matchMode": {
                                      "default": "optional",
                                      "type": "string",
                                      "enum": [
                                        "must",
                                        "not",
                                        "optional"
                                      ]
                                    },
                                    "phraseMatch": {
                                      "description": "Whether to match the search term as a phrase",
                                      "type": "boolean"
                                    },
                                    "slop": {
                                      "description": "How many words apart tokens can appear in a document to be considered a match",
                                      "type": "number"
                                    },
                                    "fuzzy": {
                                      "description": "Whether to use fuzzy matching",
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "matchMode"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "required": [
                                "searchTerm",
                                "searchType",
                                "searchTargets",
                                "searchTermOptions"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "excludeItunesGenres": {
                            "description": "iTunes genres to exclude from results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excludePodcastIds": {
                            "description": "Specific podcast IDs to exclude from results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excludeEpisodeIds": {
                            "description": "Specific episode IDs to exclude from results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "explicit": {
                            "description": "Filter by explicit content rating",
                            "type": "string",
                            "enum": [
                              "clean",
                              "explicit"
                            ]
                          },
                          "foundedSince": {
                            "description": "Filter podcasts founded after this date"
                          },
                          "hasPrimaryContact": {
                            "description": "Filter podcasts that have primary contact information",
                            "type": "boolean"
                          },
                          "hasSocials": {
                            "description": "Filter podcasts with specific social media presence from beehiiv, behance, bluesky, discord, facebook, github, instagram, linkedin, linktree, mastodon, medium, patreon, pinterest, reddit, snapchat, soundcloud, substack, threads, tiktok, tumblr, twitch, twitter, vimeo, whatsapp, youtube",
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "beehiiv",
                                "behance",
                                "bluesky",
                                "discord",
                                "facebook",
                                "github",
                                "instagram",
                                "linkedin",
                                "linktree",
                                "mastodon",
                                "medium",
                                "patreon",
                                "pinterest",
                                "reddit",
                                "snapchat",
                                "soundcloud",
                                "substack",
                                "threads",
                                "tiktok",
                                "tumblr",
                                "twitch",
                                "twitter",
                                "vimeo",
                                "whatsapp",
                                "youtube"
                              ]
                            }
                          },
                          "includeItunesGenres": {
                            "description": "iTunes genres to include in results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "includePodcastIds": {
                            "description": "Specific podcast IDs to include in results",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "languages": {
                            "description": "Filter podcasts by language",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "lastEpisodeDateSince": {
                            "description": "Filter podcasts with episodes published after this date"
                          },
                          "maxTotalEpisodes": {
                            "description": "Maximum number of total episodes",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minCastboxPlays": {
                            "description": "Minimum number of Castbox plays",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minCastboxSubscribers": {
                            "description": "Minimum number of Castbox subscribers",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minItunesRating": {
                            "description": "Minimum iTunes rating score",
                            "type": "number",
                            "minimum": 0,
                            "maximum": 5
                          },
                          "minItunesRatingCount": {
                            "description": "Minimum number of iTunes ratings",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minSpotifyRating": {
                            "description": "Minimum Spotify rating score",
                            "type": "number",
                            "minimum": 0,
                            "maximum": 5
                          },
                          "minSpotifyRatingCount": {
                            "description": "Minimum number of Spotify ratings",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "minTotalEpisodes": {
                            "description": "Minimum number of total episodes",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "podcastCountries": {
                            "description": "Filter podcasts by country of origin using ISO 3166-1 alpha-2 codes, for example us",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "podcastHasGuests": {
                            "description": "Filter podcasts that feature guests",
                            "type": "boolean"
                          },
                          "podcastAuthorityScore": {
                            "description": "Filter podcasts by their Authority Score",
                            "type": "object",
                            "properties": {
                              "authorityScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "qualityScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "engagementScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "socialScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              },
                              "youtubeScore": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "max": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "sortOrder": {
                            "description": "Specify how results should be sorted",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field": {
                                  "type": "string",
                                  "enum": [
                                    "relevance",
                                    "recentActivity",
                                    "title",
                                    "appleReviews",
                                    "spotifyReviews"
                                  ]
                                },
                                "direction": {
                                  "type": "string",
                                  "enum": [
                                    "asc",
                                    "desc"
                                  ]
                                },
                                "nullOrder": {
                                  "type": "string",
                                  "enum": [
                                    "first",
                                    "last"
                                  ]
                                }
                              },
                              "required": [
                                "field"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "includeTranscriptSnippet": {
                            "type": "boolean"
                          },
                          "transcriptSnippetLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "transcriptHighlightLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "includeEpisodeIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "publishedSince": {},
                          "hasTranscript": {
                            "type": "boolean"
                          },
                          "episodeUpdatedSince": {},
                          "episodeCreatedSince": {}
                        },
                        "additionalProperties": false
                      }
                    ]
                  },
                  "forceRegenerate": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "projectId",
                  "podcastId"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "answer": {
                              "type": "object",
                              "properties": {
                                "rating": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 5
                                },
                                "justification": {
                                  "type": "string"
                                },
                                "strengths": {},
                                "concerns": {}
                              },
                              "required": [
                                "rating",
                                "justification",
                                "strengths",
                                "concerns"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "answer"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Forbidden — plan does not include this endpoint"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agent/alternative-spellings": {
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Alternative Spellings",
        "description": "Generate phonetically plausible alternate spellings for a name or business. Useful for searching against auto-generated podcast transcripts where names are frequently misspelled.",
        "operationId": "getAlternativeSpellings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 200
                  }
                },
                "required": [
                  "value"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "spellings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "spellings"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Forbidden — plan does not include this endpoint"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/alerts/alert-config": {
      "post": {
        "tags": [
          "alerts"
        ],
        "summary": "Create Alert Config",
        "description": "Create a new alert configuration to monitor podcasts for mentions of a person, company, or custom keyword.",
        "operationId": "createAlertConfig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alertName": {
                    "type": "string"
                  },
                  "alertType": {
                    "type": "string",
                    "enum": [
                      "person",
                      "company",
                      "custom-keyword"
                    ]
                  },
                  "value": {
                    "type": "string"
                  },
                  "emailSettings": {
                    "type": "object",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "hourly",
                          "daily",
                          "weekly"
                        ]
                      }
                    },
                    "required": [
                      "frequency"
                    ],
                    "additionalProperties": false
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "generateAlternativeSpellings": {
                    "type": "boolean"
                  },
                  "additionalAlertSettings": {
                    "type": "object",
                    "properties": {
                      "otherEmails": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "otherSpellings": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "alertName",
                  "alertType",
                  "value"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "createdAlertConfig": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "createdByUserId": {
                              "type": "string"
                            },
                            "teamId": {
                              "type": "string"
                            },
                            "createdAt": {},
                            "updatedAt": {},
                            "alertName": {
                              "type": "string"
                            },
                            "alertType": {
                              "type": "string",
                              "enum": [
                                "person",
                                "company",
                                "custom-keyword"
                              ]
                            },
                            "enabled": {
                              "type": "boolean"
                            },
                            "alertSettings": {
                              "allOf": [
                                {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "person"
                                          ]
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "trackGuestAppearances": {
                                          "type": "boolean"
                                        },
                                        "trackHostAppearances": {
                                          "type": "boolean"
                                        },
                                        "trackMentions": {
                                          "type": "boolean"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "value"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "company"
                                          ]
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "value"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "custom-keyword"
                                          ]
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "value"
                                      ],
                                      "additionalProperties": false
                                    }
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "genresToSkip": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "genresToInclude": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "otherSpellings": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "otherEmails": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "format": "email",
                                        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                                      }
                                    },
                                    "contextAwareQuestion": {
                                      "type": "string"
                                    },
                                    "contextAwareDetails": {
                                      "type": "object",
                                      "properties": {
                                        "what": {
                                          "type": "string"
                                        },
                                        "relevantClues": {
                                          "type": "string"
                                        },
                                        "commonFalsePositives": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "filterAdvertisements": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              ]
                            },
                            "emailSettings": {
                              "type": "object",
                              "properties": {
                                "frequency": {
                                  "type": "string",
                                  "enum": [
                                    "hourly",
                                    "daily",
                                    "weekly"
                                  ]
                                }
                              },
                              "required": [
                                "frequency"
                              ],
                              "additionalProperties": false
                            },
                            "lastRunDate": {
                              "anyOf": [
                                {},
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "createdByUserId",
                            "teamId",
                            "createdAt",
                            "updatedAt",
                            "alertName",
                            "alertType",
                            "enabled",
                            "alertSettings",
                            "emailSettings",
                            "lastRunDate"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "createdAlertConfig"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Forbidden — plan does not include this endpoint"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/alerts/alert-configs": {
      "get": {
        "tags": [
          "alerts"
        ],
        "summary": "List Alert Configs",
        "description": "Get all of the team's alert configurations.",
        "operationId": "getAlertConfigs",
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "alertConfigId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "lastRunDate",
                "alertName"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "options": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "alertConfigId": {
                              "type": "string"
                            },
                            "sortBy": {
                              "type": "string",
                              "enum": [
                                "lastRunDate",
                                "alertName"
                              ]
                            },
                            "sortDirection": {
                              "type": "string",
                              "enum": [
                                "asc",
                                "desc"
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "alertConfigs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "createdByUserId": {
                                "type": "string"
                              },
                              "teamId": {
                                "type": "string"
                              },
                              "createdAt": {},
                              "updatedAt": {},
                              "alertName": {
                                "type": "string"
                              },
                              "alertType": {
                                "type": "string",
                                "enum": [
                                  "person",
                                  "company",
                                  "custom-keyword"
                                ]
                              },
                              "enabled": {
                                "type": "boolean"
                              },
                              "alertSettings": {
                                "allOf": [
                                  {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "person"
                                            ]
                                          },
                                          "value": {
                                            "type": "string"
                                          },
                                          "trackGuestAppearances": {
                                            "type": "boolean"
                                          },
                                          "trackHostAppearances": {
                                            "type": "boolean"
                                          },
                                          "trackMentions": {
                                            "type": "boolean"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "value"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "company"
                                            ]
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "value"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "custom-keyword"
                                            ]
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "value"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "genresToSkip": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "genresToInclude": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "otherSpellings": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "otherEmails": {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "format": "email",
                                          "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                                        }
                                      },
                                      "contextAwareQuestion": {
                                        "type": "string"
                                      },
                                      "contextAwareDetails": {
                                        "type": "object",
                                        "properties": {
                                          "what": {
                                            "type": "string"
                                          },
                                          "relevantClues": {
                                            "type": "string"
                                          },
                                          "commonFalsePositives": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "filterAdvertisements": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                ]
                              },
                              "emailSettings": {
                                "type": "object",
                                "properties": {
                                  "frequency": {
                                    "type": "string",
                                    "enum": [
                                      "hourly",
                                      "daily",
                                      "weekly"
                                    ]
                                  }
                                },
                                "required": [
                                  "frequency"
                                ],
                                "additionalProperties": false
                              },
                              "lastRunDate": {
                                "anyOf": [
                                  {},
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "createdByUserId",
                              "teamId",
                              "createdAt",
                              "updatedAt",
                              "alertName",
                              "alertType",
                              "enabled",
                              "alertSettings",
                              "emailSettings",
                              "lastRunDate"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "options",
                        "alertConfigs"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Forbidden — plan does not include this endpoint"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/alerts/alert-config/{alertConfigId}": {
      "get": {
        "tags": [
          "alerts"
        ],
        "summary": "Get Alert Config",
        "description": "Get a single alert configuration by ID.",
        "operationId": "getAlertConfig",
        "parameters": [
          {
            "name": "alertConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "alertConfig": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "createdByUserId": {
                              "type": "string"
                            },
                            "teamId": {
                              "type": "string"
                            },
                            "createdAt": {},
                            "updatedAt": {},
                            "alertName": {
                              "type": "string"
                            },
                            "alertType": {
                              "type": "string",
                              "enum": [
                                "person",
                                "company",
                                "custom-keyword"
                              ]
                            },
                            "enabled": {
                              "type": "boolean"
                            },
                            "alertSettings": {
                              "allOf": [
                                {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "person"
                                          ]
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "trackGuestAppearances": {
                                          "type": "boolean"
                                        },
                                        "trackHostAppearances": {
                                          "type": "boolean"
                                        },
                                        "trackMentions": {
                                          "type": "boolean"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "value"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "company"
                                          ]
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "value"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "custom-keyword"
                                          ]
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "value"
                                      ],
                                      "additionalProperties": false
                                    }
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "genresToSkip": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "genresToInclude": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "otherSpellings": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "otherEmails": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "format": "email",
                                        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                                      }
                                    },
                                    "contextAwareQuestion": {
                                      "type": "string"
                                    },
                                    "contextAwareDetails": {
                                      "type": "object",
                                      "properties": {
                                        "what": {
                                          "type": "string"
                                        },
                                        "relevantClues": {
                                          "type": "string"
                                        },
                                        "commonFalsePositives": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "filterAdvertisements": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              ]
                            },
                            "emailSettings": {
                              "type": "object",
                              "properties": {
                                "frequency": {
                                  "type": "string",
                                  "enum": [
                                    "hourly",
                                    "daily",
                                    "weekly"
                                  ]
                                }
                              },
                              "required": [
                                "frequency"
                              ],
                              "additionalProperties": false
                            },
                            "lastRunDate": {
                              "anyOf": [
                                {},
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "createdByUserId",
                            "teamId",
                            "createdAt",
                            "updatedAt",
                            "alertName",
                            "alertType",
                            "enabled",
                            "alertSettings",
                            "emailSettings",
                            "lastRunDate"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "alertConfig"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Forbidden — plan does not include this endpoint"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "alerts"
        ],
        "summary": "Update Alert Config",
        "description": "Update an existing alert configuration (name, settings, email frequency, or enabled state).",
        "operationId": "updateAlertConfig",
        "parameters": [
          {
            "name": "alertConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "updates": {
                    "type": "object",
                    "properties": {
                      "alertName": {
                        "type": "string"
                      },
                      "emailSettings": {
                        "type": "object",
                        "properties": {
                          "frequency": {
                            "type": "string",
                            "enum": [
                              "hourly",
                              "daily",
                              "weekly"
                            ]
                          }
                        },
                        "required": [
                          "frequency"
                        ],
                        "additionalProperties": false
                      },
                      "alertSettings": {
                        "allOf": [
                          {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "person"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  },
                                  "trackGuestAppearances": {
                                    "type": "boolean"
                                  },
                                  "trackHostAppearances": {
                                    "type": "boolean"
                                  },
                                  "trackMentions": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "type",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "company"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "custom-keyword"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "value"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "genresToSkip": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "genresToInclude": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "otherSpellings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "otherEmails": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "format": "email",
                                  "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                                }
                              },
                              "contextAwareQuestion": {
                                "type": "string"
                              },
                              "contextAwareDetails": {
                                "type": "object",
                                "properties": {
                                  "what": {
                                    "type": "string"
                                  },
                                  "relevantClues": {
                                    "type": "string"
                                  },
                                  "commonFalsePositives": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "filterAdvertisements": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        ]
                      },
                      "enabled": {
                        "type": "boolean"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
[...]
